<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sprint.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @sprint.project_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @sprint.team_id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @sprint.organization_id %>
</p>

<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
